/* eslint-disable */
// eslint-disable-next-line
<template>
    <header>
        <div class="navbar-fixed">
            <tool-bar></tool-bar>
            <side-bar></side-bar>
        </div>
    </header>
</template>


/* eslint-disable no-new */
<script>
    import ToolBar from './ToolBar.vue';
    import SideBar from './SideBar.vue';
    export default {
        name: 'AppBar',
        data(){
            return {}
        },
        components: {
            ToolBar,
            SideBar,
        }
    }
</script>

/* eslint-disable */
<style>

</style>
