<template>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper #2196f3 blue">
          <router-link :to="{ name: 'MainContainer' }">
            <div class="brand-logo" style="margin-left: 20px; font-size: 18px">{{app.toolbar.title}}</div>
          </router-link>
          <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--<li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>-->
          </ul>
        </div>
      </nav>
    </div>


    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li>
        <div class="user-view">
          <div class="background">
            <img class="sidenav-header-background" src="../../assets/general/order_sidenav_header.jpg">
          </div>
          <a href="#user">
            <img
              class="circle"
              style="background-color: white"
              v-bind:src="user.profilePix || '/static/img/admin_blue.svg'">
          </a>
          <a href="#name"><span class="white-text name">{{`${user.firstName}, ${user.lastName}`}}</span></a>
          <a href="#email"><span class="white-text email">{{user.email}}</span></a>
        </div>
      </li>


      <li class="" v-on:click="activate">
        <router-link :to="{ name: 'Dashboard' }">
          <i class="material-icons pink-text">apps</i>
          Dashboard
        </router-link>
      </li>

      <li class="" v-on:click="activate">
        <router-link :to="{ name: 'Orders' }">
          <i class="material-icons pink-text">shop</i>
          Orders
          <span v-show="countUnresolvedShipments>0" class="notification-badge ma-le-5 blink_me">
            {{countUnresolvedShipments}}
          </span>
        </router-link>

      </li>


      <li class="" v-on:click="activate">
        <router-link :to="{ name: 'NewPurchase' }">
          <i class="material-icons pink-text">receipt</i>
          Create New Purchase
        </router-link>
      </li>

      <li class="" v-on:click="activate">
        <router-link :to="{ name: 'UnSentPurchases' }">
          <i class="material-icons pink-text">error</i>
          Unsent Purchases
          <span v-show="countUnSentShipments(unsent_shipments)>0" class="notification-badge ma-le-2">
            {{countUnSentShipments(unsent_shipments)}}
          </span>
        </router-link>
      </li>


      <li class="" v-on:click="activate">
        <router-link :to="{ name: 'Chats' }">
          <i class="material-icons pink-text">receipt</i>
          Chat
        </router-link>
      </li>


      <li class="" v-on:click.prevent="logout">
        <a href="/logout">
          <i class="material-icons pink-text">lock</i>
          Logout
        </a>
      </li>
    </ul>

  </header>
</template>

<script>
  import {mapState} from 'vuex';
  import {filter} from 'lodash';

  export default {
    name : "app-bar2",
    mounted() {
      $(document).ready(function () {
        $('.sidenav').sidenav();
      })
    },
    computed : {
      ...mapState(['user', 'app', 'shipments', 'unsent_shipments']),
      countUnresolvedShipments : function () {
        let unresolved = filter(this.shipments, shipment => {
          return (shipment.status === 'created' || shipment.status === 'active');
        });
        return unresolved.length;
      }
    },
    methods : {
      activate : function (event) {
        $('.sidenav').find('li').removeClass('active');
        $(event.target).parent().addClass('active');
      },
      countUnSentShipments : function (unsent_shipments) {
        return Object.keys(unsent_shipments).length;
      },
      logout : function () {
        this.$store.dispatch('logout', {});
        window.location.replace('/login');
      }
    }
  }
</script>

<style scoped>
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .background {
    background-color: black;
  }

  .sidenav-header-background {
    opacity: 0.5;
  }

  .notification-badge {
    border-radius: 20px;
    padding: 0.5rem 0.7rem;
    color: #e91e63;
    border: 1px solid #e91e63;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .ma-le-5 {
    margin-left: 5rem;
  }

  .ma-le-2 {
    margin: 2rem;
  }

  .ma-le-6 {
    margin-left: 6rem;
  }

  .ma-le-7 {
    margin-left: 7rem;
  }

  .ma-le-3 {
    margin-left: 3rem;
  }


</style>
