/* eslint-disable */
<template>
    <li>
        <div class="userView">
            <div class="background">
                <img src="../../assets/general/drive_small4.jpg">
            </div>


            <a href="#!user">
                <img class="circle" src="">
            </a>

            <a href="#!name">
                <span class="white-text name left-align" id="appbar-username">{{fullName()}}</span>
            </a>

            <a href="#!email">
                <span class="white-text email left-align" id="appbar-useremail">{{user.email}}</span>
            </a>
        </div>
    </li>
</template>

<script>
    export default {
        name: 'SideBarHeader',
        props: ['user'],
        data(){
            return {}
        },
        methods: {
            fullName: function () {
                return this.user.firstName + ' ' + this.user.lastName;
            }
        }
    }

</script>

<style>

</style>
