/* eslint-disable no-new */
<template xmlns:v-on="http://www.w3.org/1999/xhtml"
          xmlns:v-bind="http://www.w3.org/1999/xhtml">

<div>
  <ul id="slide-out" class="sidenav fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">cart</i></a>

</div>

</template>

<script>
  import SideBarHeader from './SideBarHeader.vue';
  import {mapState} from 'vuex';

  export default {
    name : 'SideBar',
    data() {
      return {
        isActive : false,
      }
    },
    components : {
      SideBarHeader,
    },
    mounted() {
      $(document).ready(function () {
        $(".side-nav").sidenav();
        $('.sidenav').sidenav();
      })
    },
    computed : {
      ...mapState(['user', 'app'])
    },
    methods : {
      activate : function (event) {
        $('.side-nav').find('li').removeClass('active');
        $(event.target).parent().addClass('active');
      },
      activateSideBarLink : function (data) {
        this.isActive = true;

      },
      logout : function () {
        this.$store.dispatch('logout', {});
        window.location.replace('/login');
      }
    }
  }
</script>

<style scoped>
  .side-nav li {
    text-align: left;
  }

  .side-nav li.active {
    background-color: rgba(0, 0, 0, 0.15);
  }


</style>
