<template>
  <nav>
    <div class="nav-wrapper #2196f3 blue">
      <a href="#" class="brand-logo" style="margin-left: 20px">{{app.toolbar.title}}</a>
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</template>


<script>
  import {mapState} from 'vuex'
  export default {
    name : 'Toolbar',
    data() {
      return {

      }
    },
    computed : {
      ...mapState(['user', 'app'])
    }
  }
</script>

<style>

</style>
