<template>
  <div>

    <!--Filter section-->
    <div class="row">
      <div class="col s12 m12 l12">

        <div class="col s12 m12 l12 card">
          <br/>

          <div class="input-field col s3 m3 l3">
            <h6>summary of: </h6>
          </div>

          <div class="input-field col s4 m4 l4">
            <input class="datepicker" type="text" id="edit-text-start-date" v-model="start_date"/>
            <label for="edit-text-start-date">Start Date</label>
          </div>

          <div class="input-field col s5 m4 l4">
            <input class="datepicker" type="text" id="edit-text-end-date" v-model="end_date"/>
            <label for="edit-text-end-date">End Date</label>
          </div>

        </div>

      </div>
    </div>


    <!--Summary Pane-->
    <div class="row">

      <div class="col s12 m4 l4">
        <div class="card summary-cell white-text" @click="goToOrders">
          <h4>Amount</h4>
          <div class="divider"></div>
          <br/>
          <div class="item-detail-row"><span class="item-value">₦{{amountSummary['received']}}</span>
            <span> received</span></div>
          <div class="item-detail-row"><span class="item-value">₦{{amountSummary['pending']}}</span>
            <span> pending</span></div>
          <div class="item-detail-row"><span class="item-value">₦{{amountSummary['not_yet_paid']}}</span> <span> not yet paid</span>
          </div>
        </div>
      </div>


      <div class="col s12 m4 l4">
        <div class="card summary-cell white-text">
          <h4>Orders</h4>
          <div class="divider"></div>
          <br/>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['created']||0}}</span> <span> created</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['active']||0}}</span>
            <span> new</span></div>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['processing']||0}}</span> <span> processing</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['picked-up']||0}}</span> <span> picked-up</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['delivered']||0}}</span> <span> delivered</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['user-cancelled']||0}}</span>
            <span> cancelled by User</span></div>
          <div class="item-detail-row"><span class="item-value">{{countByShipmentStatus['admin-cancelled']||0}}</span>
            <span> cancelled by Admin</span></div>
        </div>
      </div>


      <div class="col s12 m4 l4">
        <div class="card summary-cell white-text">
          <h4>Sales Type</h4>
          <div class="divider"></div>
          <br/>
          <div class="item-detail-row"><span class="item-value">{{countBySalesType['app-sale']||0}}</span> <span> App Sale</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countBySalesType['store-sale']||0}}</span> <span> Store Sale</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countBySalesType['web-sale']||0}}</span> <span> Web Sale</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countBySalesType['web-sale-bodija']||0}}</span> <span>Bodija Web Sale</span>
          </div>
          <div class="item-detail-row"><span class="item-value">{{countBySalesType['app-sale-bodija']||0}}</span> <span>Bodija App Sale</span>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card graph-container">
          <response-rate-graph-component
            :end_date="end_date"
            :start_date="start_date"
            :chart-data="datacollection"
            :options="options"
            :height="myStyles.height"
          />
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card graph-container">
          <response-rate-graph-component
            :end_date="end_date"
            :start_date="start_date"
            :chart-data="salesDataCollection"
            :options="salesOptions"
            :height="myStyles.height"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card graph-container">
          <response-rate-graph-component
            :end_date="end_date"
            :start_date="start_date"
            :chart-data="salesCountCollection"
            :options="salesOptions"
            :height="myStyles.height"
          />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {countBy, map, sumBy, groupBy, filter, each} from 'lodash';
  import moment from 'moment';
  import ResponseRateGraphComponent from "./ResponseRateGraphComponent";
  import {listDaysBetweenTwoInstances} from './../../../util/DateUtil';
  import {
    computeProgressionSummaryOfAllShipments,
    convertShipmentsToArray,
    groupShipmentsByDate,
    evaluateDaysPerformance
  } from './../../../util/ProgressionUtil';

  export default {
    components : {ResponseRateGraphComponent},
    name : "dashboard",
    data() {
      return {
        end_date : moment().add(1, 'd').format("MMM DD, YYYY"),
        start_date : moment().format("MMM DD, YYYY"),
        datacollection : null,
        salesDataCollection : null,
        salesCountCollection : null,
        options : {
          scales : {
            yAxes : [{
              gridLines : {
                //color: '#444444',
              },
              ticks : {
                beginAtZero : true,
                fontColor : 'black'
              }
            }],
            xAxes : [{
              gridLines : {
                //color: '#444444',
              },
              ticks : {
                beginAtZero : true,
                fontColor : 'black'
              }
            }]
          },
          legend : {
            labels : {
              fontColor : 'black'
            }
          },
          title : {
            display : true,
            fontColor : 'black',
            text : 'Response rate to customers'
          },
          responsive : true,
          maintainAspectRatio : false
        },
        salesOptions : {
          scales : {
            yAxes : [{
              gridLines : {
                //color: '#444444',
              },
              ticks : {
                beginAtZero : true,
                fontColor : 'black'
              }
            }],
            xAxes : [{
              ticks : {
                beginAtZero : true,
                fontColor : 'black'
              }
            }]
          },
          legend : {
            labels : {
              fontColor : 'black'
            }
          },
          title : {
            display : true,
            fontColor : 'black',
            text : 'Sales Trend'
          },
          responsive : true,
          maintainAspectRatio : false
        },
        ttDiscover : {
          label : 'TT Discover',
          borderColor : '#0d47a1',
          backgroundColor : '#bbdefb44',
          data : []
        },
        ttProcess : {
          label : 'TT Process',
          borderColor : '#00695c',
          backgroundColor : '#b2dfdb44',
          data : []
        },
        ttDeliver : {
          label : 'TT Deliver',
          borderColor : '#e65100',
          backgroundColor : '#ffe0b244',
          data : []
        },
        salesCount : {
          label : 'No of Orders',
          borderColor : '#e65100',
          backgroundColor : '#ffe0b244',
          data : []
        },
        salesVolume : {
          label : 'Volume of Orders',
          borderColor : '#e65100',
          backgroundColor : '#ffe0b244',
          data : []
        },
        labels : [],
        groupedShipments : {},
        dates : [],
      }
    },
    mounted() {
      let vm = this;
      $(document).ready(function () {
        $('.datepicker').datepicker({
          selectMonths : true, // Creates a dropdown to control month
          selectYears : 5, // Creates a dropdown of 15 years to control year,
          today : 'Today',
          clear : 'Clear',
          close : 'Ok',
          closeOnSelect : true, // Close upon selecting a date,
        });

        $('#edit-text-end-date').on('change', '', function () {
          vm.end_date = $(this).val();
        });

        $('#edit-text-start-date').on('change', '', function () {
          vm.start_date = $(this).val();
        });
        M.updateTextFields();
      })
      this.fillData();
    },
    methods : {
      getSummary : function () {
        let start = moment(this.start_date, "MMM DD, YYYY").format("YYYY-MM-DD");
        let end = moment(this.end_date, "MMM DD, YYYY").format("YYYY-MM-DD");
        let filteredShipments = filter(this.shipments, (shipment) => {
          return (shipment.updatedAt >= start) && (shipment.updatedAt <= end)
        });
      },
      fillData() {
        let performance = this.performance();

        this.labels = [];
        this.ttDiscover.data = [];
        this.ttProcess.data = [];
        this.ttDeliver.data = [];

        each(performance, (data, day) => {
          this.labels.push(day);
          this.ttDiscover.data.push(data.timeToDiscover);
          this.ttProcess.data.push(data.timeToPackage);
          this.ttDeliver.data.push(data.timeToArrive);
        });

        this.datacollection = {
          labels : this.labels,
          datasets : [
            this.ttDiscover,
            this.ttProcess,
            this.ttDeliver
          ]
        };

        this.salesCount.data = [];
        this.salesVolume.data = [];

        each(this.dates, date => {
          let shipments = this.groupedShipments[date];
          if (!shipments || shipments.length === 0) {
            this.salesVolume.data.push(0);
            this.salesCount.data.push(0);
          } else {
            let shipmentsSum = sumBy(shipments, e => {
              return Number(e.payment.amount);
            });
            let shipmentCount = shipments.length;

            this.salesVolume.data.push(shipmentsSum);
            this.salesCount.data.push(shipmentCount);
          }
        });
        this.salesDataCollection = {
          labels : this.labels,
          datasets : [
            this.salesVolume,
          ]
        };
        this.salesCountCollection = {
          labels : this.labels,
          datasets : [
            this.salesCount
          ]
        };
      },
      performance : function () {
        let dates;
        if (moment(this.end_date, 'MMM DD, YYYY').diff(moment(this.start_date, 'MMM DD, YYYY'), 'days') < 7) {
          dates = listDaysBetweenTwoInstances(moment().subtract(7, 'days').format('MMM DD, YYYY'),
            moment().add(1, 'days').format('MMM DD, YYYY'), 'MMM DD, YYYY');
        } else {
          dates = listDaysBetweenTwoInstances(this.start_date, this.end_date, 'MMM DD, YYYY');
        }
        this.dates = dates;

        let shipments = computeProgressionSummaryOfAllShipments(this.shipments);
        shipments = convertShipmentsToArray(shipments);
        let groupedShipments = groupShipmentsByDate(shipments);
        this.groupedShipments = groupedShipments;

        let performance = {};
        each(dates, date => {
          performance[date] = evaluateDaysPerformance(date, groupedShipments);
        });
        return performance;
      },
      goToOrders : function () {
        this.$router.push('/orders');
      }
    },
    computed : {
      ...mapState(['user', 'token', 'shipments', 'delivery_agents']),
      filtered_shipments : function () {
        let start = moment(this.start_date, "MMM DD, YYYY").format("YYYY-MM-DD");
        let end = moment(this.end_date, "MMM DD, YYYY").format("YYYY-MM-DD");
        let filteredShipments = filter(this.shipments, (shipment) => {
          return (shipment.updatedAt >= start) && (shipment.updatedAt <= end)
        });
        return filteredShipments;
      },
      countBySalesType : function () {
        let countedShipments = countBy(this.filtered_shipments, 'sales_type');
        return countedShipments;
      },
      countByShipmentStatus : function () {
        let countedShipments = countBy(this.filtered_shipments, 'status');
        return countedShipments;
      },
      amountSummary : function () {
        let payments = map(this.filtered_shipments, 'payment');
        let groupedPayments = groupBy(payments, 'status');
        let out = {
          received : sumBy(groupedPayments['received'], payment => {
            return Number(payment.amount)
          }),
          pending : sumBy(groupedPayments['pending'], payment => {
            return Number(payment.amount)
          }),
          not_yet_paid : sumBy(groupedPayments['not_yet_paid'], payment => {
            return Number(payment.amount)
          }),
        };

        out.received = Number(out.received).toLocaleString();
        out.pending = Number(out.pending).toLocaleString();
        out.not_yet_paid = Number(out.not_yet_paid).toLocaleString();

        return out
      },
      myStyles() {
        return {
          height : 400,
          position : 'relative',
          responsive : true
        }
      }
    },
    watch : {
      filtered_shipments : function () {
        this.fillData();
      }
    }
  }
</script>

<style scoped>

  .datepicker-date-display {
    background-color: #2196f3 !important;
  }

  .summary-cell {
    height: 24rem;
    padding: 0.7rem;
    background-color: #2c3e50;
    cursor: pointer;
    border-radius: 1rem;
  }

  .item-value {
    font-size: 1.6rem;
  }

  .item-detail-row {
    padding: 0.5rem 0 0 0;
  }

  .graph-wrapper {
    height: 20rem;
  }

  .graph-container{
    border-radius: 1rem;
  }
</style>
