
<script>
  import { Line, mixins } from 'vue-chartjs'
  const { reactiveProp } = mixins;

  export default {
    extends: Line,
    name : "line-graph-component",
    mixins: [reactiveProp],
    props : ['start_date','end_date', 'options'],
    mounted() {
      this.renderChart(this.chartdata, this.options);
    }
  }
</script>

<style scoped>

</style>
