<!--<template>
  <div class="card graph-wrapper">
    The lost children {{performance}}
    <Line/>
  </div>
</template>-->

<script>
  import {mapState} from 'vuex';

  import { Line, mixins } from 'vue-chartjs'
  const { reactiveProp } = mixins;

  export default {
    extends: Line,
    name : "response-rate-graph-component",
    mixins: [reactiveProp],
    props : ['start_date','end_date', 'options'],
    mounted() {
      this.renderChart(this.chartdata, this.options);
    },
    computed : {
      ...mapState(['shipments']),
    }
  }
</script>

<style scoped>

</style>
