<template>
  <div class="row">
    <div class="col s12 m12 l12">
      <h5>Messages</h5>

      <div class="col s12 m12 l12 card">
        <br/>
        <div class="input-field col s4 m4 l4">
          <select id="filter-type">
            <option value="" disabled>Choose your option</option>
            <option value="1">User Name</option>
            <option value="2">Phone No</option>
            <option value="3">Email</option>
          </select>
          <label>Filter Type</label>
        </div>
        <div v-show="filter_type != 10" class="input-field col m8 l8 s8">
          <input type="text" id="text-view-filter-value" v-model="filter_value"/>
          <label for="text-view-filter-value">Filter Value</label>
        </div>
      </div>


      <table class="bordered striped card">
        <thead>
        <tr>
          <th width="50px">S/N</th>
          <th width="100px">Customer</th>
          <!--<th width="100px">Last Message</th>-->
          <th width="80px">Status</th>
          <th width="20px"></th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for="(customer, index, key) in sortedCustomers"
          :key="customer.id"
          v-bind:customer="customer"
          style="cursor: pointer">
          <td @click="goToChatRoom(customer)">{{index + 1}}</td>
          <td @click="goToChatRoom(customer)" v-html="displayCustomer(customer)"></td>
          <!--<td @click="goToChatRoom(customer)" v-html="displayLastMessage(customer)"></td>-->
          <td @click="goToChatRoom(customer)">
            <div v-if="customer.online" class="valign-wrapper">
              <i class="material-icons green-text">check</i>
              <span class="green-text">Online</span>
            </div>

          </td>
          <td>
            <i class="material-icons dropdown-trigger" v-bind:data-target="'dropdown1'+customer.id">
              more_vert
            </i>
            <more-actions-drop-down
              :id="'dropdown1'+customer.id"
              :contents="dropDownContent"
              @onItemClicked="onDropDownItemClicked(customer, $event)"
            />
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {sortBy, reverse, filter} from 'lodash';
  import moment from 'moment';
  import MoreActionsDropDown from "../../general/MoreActionsDropDown";

  export default {
    components : {MoreActionsDropDown},
    name : "chat-list-component",
    data() {
      return {
        filter_type : 1,
        filter_value : '',
        dropDownContent: [
          {
            icon: 'format_list_numbered',
            text: 'See Orders',
            key: 'orders'
          },
          {
            icon: 'account_circle',
            text: 'User',
            key: 'account'
          },
          {
            icon: 'shop',
            text: 'Shop',
            key: 'shop'
          }
        ]
      }
    },
    mounted() {
      let vm = this;
      $(document).ready(function () {
        $('select').formSelect();

        $('#filter-type').on('change', '', function () {
          vm.filter_type = this.value;
        });

        $('.dropdown-trigger').dropdown({
          alignment: 'right',
          coverTrigger: false,
          constrainWidth: false,
          hover: true
        });
      });
      //Get Customers
      this.$store.dispatch('getCustomers', {});
    },
    methods : {
      displayCustomer : function (customer) {
        let lastMessage = customer.lastMessage;
        let message = '--';
        if (lastMessage) {
          message = lastMessage.message;
        }

        /*return (
          `<div>
              <b>${customer.firstName}, ${customer.lastName}</b><br/>
              ${customer.phoneNo || '--'}<br/>
              ${customer.email || '--'}<br/>
              ${lastMessage.message}
          </div>`
        )*/

        return (
          `<div>
              <b>${customer.firstName}, ${customer.lastName}</b><br/>
              ${customer.phoneNo || '--'}<br/><br/>
              <b>${message}</b>
          </div>`
        )
      },
      displayLastMessage : function (customer) {
        let lastMessage = customer.lastMessage;
        if (!lastMessage) {
          return '--';
        }
        return (
          `<div>
              ${lastMessage.message}<br/>
              ${lastMessage.sender.firstName}<br/>
              <span style="font-size: 12px; font-style: italic">
                ${moment(lastMessage.createdAt).format('hh:mm A, Do MMM')}
              </span>
          </div>`
        )
      },
      goToChatRoom : function (customer) {
        this.$router.push(`/chats/client/${customer.id}`);
      },
      onDropDownItemClicked : function (customer, key) {
        if (key === 'orders'){
          this.$router.push(`/customer/${customer.id}/orders`);
        }
      }
    },
    computed : {
      ...mapState(['customers']),
      sortedCustomers : function () {
        let filter_type = this.filter_type;
        let filter_value = this.filter_value;

        let c = Object.values(this.customers);

        if (filter_type == 1 && filter_value && filter_value !== '') {
          c = filter(c, function (user) {
            return (user.firstName.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1 ||
              user.lastName.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1);
          });
        }

        if (filter_type == 2 && filter_value && filter_value !== '') {
          c = filter(c, function (user) {
            return user.phoneNo.indexOf(filter_value) !== -1;
          });
        }

        if (filter_type == 3 && filter_value && filter_value !== '') {
          c = filter(c, function (user) {
            return user.email.indexOf(filter_value) !== -1;
          });
        }

        let sorted = sortBy(c, [
          customer => {
            if (!customer.lastMessage) {
              return customer.online ? moment.utc().subtract(1, 'M').format() : '';
            }
            return customer.lastMessage.createdAt;
          }
        ]);
        return reverse(sorted);
      }
    }
  }
</script>

<style scoped>

</style>
