<template>
  <div class="outer">
    <div id='chat-wall' class="chat-wall">

      <message
        v-for="(chat, index) in allChatsWithCustomer"
        :chat="chat"
        :key="index"
      />

    </div>


    <div class="chat-input-wrapper">
      <div class="is-typing red-text">
        <span v-show="typing[$route.params.clientId]">Customer is typing</span>
        <span>&nbsp;</span>
      </div>
      <div class="chat-input white">
        <input
          v-model="message"
          @input="isTyping = true"
          @keyup.enter="onSendMessage"
          class="input"
          style="height: 100%;"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from "vuex";
  import {debounce} from "lodash";
  import Message from "./Message";
  import {sendMessage, signifyIsTyping} from "../../../util/SocketUtil";

  export default {
    components : {
      Message,
    },
    data() {
      return {
        isTyping : false,
        message : ''
      }
    },
    name : "chat-page-component",
    created() {
      let clientId = this.$route.params.clientId;
      //get My chats
      this.$store.dispatch('getChats', {id : clientId});
    },
    mounted() {
      let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight;
      //const scrollHeight1 = document.getElementById('chat-wall').scrollHeight;
      //console.log(scrollHeight1);
      //document.getElementById('chat-wall').scrollTo(0, scrollHeight1)
      //window.scrollTo(0,400);
    },
    computed : {
      ...mapState(['chats', 'user', 'typing']),
      allChatsWithCustomer : function () {
        let clientId = this.$route.params.clientId;
        return this.chats[clientId] || [];
      }
    },
    methods : {
      onSendMessage : function () {
        let payload = {
          sender : this.user.id,
          recipient : this.$route.params.clientId,
          message : this.message
        };
        sendMessage(payload)
          .then(chat => {
            this.$store.commit('INSERT_CHAT', chat);
          });
        this.message = '';
      }
    },
    watch : {
      message : debounce(function () {
        this.isTyping = false;
      }, 3000),
      isTyping : function (value) {
        let payload = {
          sender : this.user.id,
          recipient : this.$route.params.clientId,
          isTyping : value
        };
        signifyIsTyping(payload)
          .then(chat => {
            //this.$store.commit('INSERT_CHAT', chat);
          });
      },
      allChatsWithCustomer : function () {
        const scrollHeight1 = document.getElementById('chat-wall').scrollHeight + 200;
        setTimeout(() => {
          document.getElementById('chat-wall').scrollTo(0, scrollHeight1)
        }, 100);
      }
    }
  }
</script>

<style scoped>
  .chat-input-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 9%;
    min-height: 5.2rem;
  }

  .chat-input {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    border-top: 1px solid #eee;
  }

  .chat-wall {
    height: 85vh;
    overflow: scroll;
    padding-bottom: 8rem;
  }

  .outer {
    height: 85vh;
    position: relative;
  }

  .is-typing {
    font-style: italic;
    padding-left: 1rem;
  }

</style>
