<template>
  <div class="u1 chat">
    <div class="uk-text-right color-grey-500" style="font-style: italic; font-size: 12px">
      {{messageDate}}
    </div>
    <img
      v-show="chat.type === 'image'"
      :src="chat.image"
      style="max-width: 300px; width: 100%"
    />
    <div>
      {{chat.message}}
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  export default {
    name : "left-message",
    props:['chat'],
    computed:{
      messageDate: function () {
        return moment(this.chat.createdAt).format('hh:mm A, Do MMM');
      }
    }
  }
</script>

<style scoped>
  .chat {
    background: darkslategrey;
    border-radius: 20px;
    display: inline-block;
    padding: 15px;
    color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    margin: 10px;
    position: relative;
    max-width: 60%;
    width: fit-content;
  }

  .chat.u1 {
    float: left;
    clear: both;
    border-top-left-radius: 0px;
    margin-left: 1rem;
  }

  /*.chat.u1:before{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid darkslategrey;
    border-top: 5px solid darkslategrey;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    left: -10px;
  }*/
</style>
