<template>
  <div>
    <left-message
      v-if="chat && chat.sender.id == $route.params.clientId"
      :chat="chat"
    />
    <right-message
      v-else
      :chat="chat"
    />
  </div>
</template>

<script>
  import LeftMessage from "./LeftMessage";
  import RightMessage from "./RightMessage";
  import {mapState} from 'vuex';

  export default {
    components : {
      RightMessage,
      LeftMessage
    },
    name : "message",
    props : ['chat'],
    data() {
      return {}
    },
    mounted(){
    },
    computed:{
      ...mapState(['user'])
    }
  }
</script>

<style scoped>

</style>
