<template>
    <div class="u2 chat">
      <div class="color-grey-500" style="font-style: italic; font-size: 12px">
        {{messageDate}}
      </div>
      <img
        v-show="chat.type === 'image'"
        :src="chat.image"
        style="max-width: 300px; width: 100%"
      />
      <div>
        {{chat.message}}
      </div>
    </div>
</template>

<script>

  import moment from 'moment';

  export default {
    name : "right-message",
    props:['chat'],
    computed:{
      messageDate: function () {
        return moment(this.chat.createdAt).format('hh:mm A, Do MMM');
      }
    }
  }
</script>

<style scoped>
  .chat{
    background: #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 15px;
    color: #222;
    box-shadow: 1px 1px 2px rgba(0,0,0,.1);
    margin: 10px;
    position: relative;
    max-width: 60%;
    width: fit-content;
  }

  .chat.u2{
    float: right;
    clear: both;
    border-top-right-radius: 0px;
    background: #fff;
    margin-right: 1rem;
  }
  /*.chat.u2:before{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid #fff;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    right: -10px;
  }*/

</style>
