<template>
  <div>
    <!--Table section-->
    <div class="row">
      <div class="col s12 m12 l12">
        <table class="bordered striped card">
          <thead>
          <tr>
            <th>S/N</th>
            <th>Order Items</th>
            <th>Amount</th>
            <th>Last Retry</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr
            v-for="(shipment, index) in unsent_shipments"
            :key="shipment.id"
            v-bind:shipment="shipment"
            style="cursor: pointer">
            <td>{{index}}</td>
            <td v-html="listSuborderItems(shipment)"></td>
            <td>{{shipmentAmount(shipment)}}</td>
            <td>33mins ago</td>
            <td>
              <button
                v-on:click="resend(shipment, index)"
                class="btn waves-effect waves-light pink white-text">Retry
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--End Table Section-->

  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {each, filter} from 'lodash';
  import FormatterUtils from './../../../util/FormatterUtil';
  import OrdersHandler from './../../../util/OrdersHandler';
  import Toast from './../../../util/Toast';

  export default {
    name : "un-sent-purchases",
    computed:{
      ...mapState(['unsent_shipments','measurements'])
    },
    methods:{
      shipmentAmount: function (shipment) {
        return FormatterUtils.formatAsCurrency(shipment.payment.amount);
      },
      listSuborderItems: function (shipment) {
        let out = "";
        let vm = this;

        each(shipment.order.suborders, (suborder, index)=>{
          let measurementId = suborder.measurement;
          let measurementsMatch = filter(vm.measurements, measurement=>{
            return measurement.id == measurementId;
          });

          let productvariant = measurementsMatch[0].productvariant;
          let scale = measurementsMatch[0].scale;
          out += `${index+1}.  ${suborder.quantity} ${scale.name} of ${productvariant.name}<br/>`;
        });
        return out;
      },
      resend : function (shipment, index) {
        let vm = this;
        OrdersHandler.createShipment(shipment, function (error, response) {
          if (error) {
            console.log(error);
            let err = {message: "Error occurred"};
            try {
              err = JSON.parse(error.responseText);
            } catch (e) {
            }
            Toast.Show(err.message, 4000);
            return;
          }
          Toast.SUCCESS('Order was placed successfully', 4000, 'rounded');
          vm.$store.dispatch('popShipmentFromCache', index);
          vm.$store.dispatch('createShipment', response);
        });
      }
    }
  }
</script>

<style scoped>

</style>
