<template>
  <div id="shipment-status-modal" class="modal">
    <div class="modal-content">
      <h5 style="color: #A00000" id="order_number">ORD-11223355 (13th November)</h5>
      <br>
      <div class="collection">
        <a href="#!" v-show="show_created" @click="select_status('created',$event)" class="collection-item"
           data-status="created">Created</a>
        <a href="#!" v-show="show_active" @click="select_status('active', $event)" class="collection-item"
           data-status="active">Active</a>
        <a href="#!" v-show="show_active" @click="select_status('user-cancelled', $event)" class="collection-item"
           data-status="user-cancelled">User Cancelled</a>
        <a href="#!" v-show="show_admin_cancelled" @click="select_status('admin-cancelled', $event)"
           class="collection-item" data-status="admin-cancelled">Admin Cancelled</a>
        <a href="#!" v-show="show_processing" @click="select_status('processing', $event)" class="collection-item"
           data-status="processing">Processing</a>
        <a href="#!" v-show="show_in_transit" @click="select_status('in-transit', $event)" class="collection-item"
           data-status="in-transit">In Transit</a>
        <a href="#!" v-show="show_order_arrived" @click="select_status('order-arrived', $event)"
           class="collection-item"
           data-status="in-transit">Order Arrived</a>
        <a href="#!" v-show="show_payment_received" @click="select_status('payment-received', $event)"
           class="collection-item" data-status="payment-received">Payment Received</a>
        <a href="#!" v-show="show_delivered" @click="select_status('delivered', $event)" class="collection-item"
           data-status="delivered">Delivered</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" @click="save_shipment_status" class="modal-action modal-close waves-effect waves-green btn-flat"
         id="set_shipment_status">Update
        Status</a>
    </div>
  </div>
</template>

<script>
  import OrdersHandler from './../../../util/OrdersHandler';

  export default {
    name : "modal-shipment-status",
    props : ['shipment'],
    data() {
      return {
        new_status : '',
      }
    },
    methods : {
      select_status : function (status, event) {
        this.new_status = status;
        $('.collection-item').css('background-color', 'white');
        $(event.target).css('background-color', '#a5f8e4');
      },
      save_shipment_status : function () {
        let vm = this;

        let data = {
          shipmentId : vm.shipment.id,
          status : vm.new_status
        };
        this.$store.dispatch('updateshipment', data);
      }
    },
    computed : {
      show_created : function () {
        return false;
      },
      show_active : function () {
        return this.is_created;
      },
      show_processing : function () {
        return this.is_active || this.is_created;
      },
      show_in_transit : function () {
        return this.is_active || this.is_processing;
      },
      show_order_arrived : function () {
        return this.is_in_transit;
      },
      show_payment_received : function () {
        return this.is_in_transit || this.is_order_arrived;
      },
      show_admin_cancelled : function () {
        return this.is_created || this.is_active || this.is_processing ||
          this.is_in_transit || this.is_order_arrived;
      },
      show_user_cancelled : function () {
        return this.is_created;
      },
      show_delivered : function () {
        return this.is_in_transit || this.is_order_arrived ||
          this.is_payment_received;
      },
      is_created : function () {
        return this.shipment.status === 'created';
      },
      is_active : function () {
        return this.shipment.status === 'active';
      },
      is_processing : function () {
        return this.shipment.status === 'processing';
      },
      is_in_transit : function () {
        return this.shipment.status === 'in-transit';
      },
      is_payment_received : function () {
        return this.shipment.status === 'payment-received';
      },
      is_order_arrived : function () {
        return this.shipment.status === 'order-arrived';
      }
    },
    watch : {
      shipment : function () {

      }
    }
  }
</script>

<style scoped>

</style>
