<template>
  <div id="shipment-details-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h6 style="color: #A00000; font-weight: bold" id="order_number" v-html="display_shipment_header"></h6>
      <br>

      <h6 style="color: #A00000">
        Order Details
      </h6>
      <hr/>

      <div id="suborder-details" style="line-height: 30px">
          <span
            v-for="(suborder, index) in shipment.order.suborders"
            :key="suborder.id"
            :suborder="suborder"
            v-html="displaySuborderItem(suborder, index)"
          ></span>
      </div>

      <br/>
      <h6 style="color: #A00000" id="delivery-details-title">
        {{display_delivery_mode()}}
      </h6>
      <hr/>

      <div id="delivery-details" v-html="display_recipient_details()"></div>
      <div class="row">
        <button
          @click="display_location_modal()"
          class="btn waves-effect waves-light pink right"
          id="btn-user-location">See User's Location
        </button>
      </div>


      <h6 style="color: #A00000">
        Payment Details
      </h6>
      <hr/>

      <div id="payment-details" v-html="display_payment_details()"></div>


      <br/>
      <h6 style="color: #A00000" id="delivery-agent-details-header" v-show="is_assigned">
        Assigned for Delivery To:
      </h6>
      <hr v-show="is_assigned"/>

      <div id="delivery-agent-details" v-show="is_assigned" v-html="display_delivery_agent_details()"></div>
      <br/>

    </div>
    <div class="modal-footer">
      <a href="#!" v-show="!is_assigned && !is_store_sale"
         @click="display_shipment_assign_delivery_modal()"
         class="btn-flat waves-effect waves-light blue-text modal-action">Assign
        for Delivery
      </a>
      <a href="#!" @click="display_shipment_status_modal()"
         class="btn-flat waves-effect waves-light pink-text modal-action">Update
        Status</a>
      <a href="#!" @click="show_receipt_window()" v-show="is_paid"
         class="btn-flat waves-effect waves-light pink-text modal-action">Generate
        Receipt</a>
    </div>
  </div>
</template>

<script>
  export default {
    name : "modal-shipment-details",
    props : ['shipment'],
    methods:{
      displaySuborderItem : function (suborder, index) {
        return (index + 1) + ")  " + suborder.quantity + " " + suborder.measurement.scale.name + "(s) of " + suborder.productvariant.name + " : <b>₦" + suborder.price + "</b><br/>";
      },
      display_delivery_mode : function () {
        if (this.shipment.deliverymode && this.shipment.deliverymode.id === 1) {
          return 'Pick-up By:'
        } else {
          return 'Deliver To:'
        }
      },
      display_recipient_details : function () {
        let user = this.shipment.order.user;
        let out = '';
        if (user) {
          out += `Customer: <b>${user.firstName}, ${user.lastName}</b><br/>`;
          out += `Phone: <a href="tel:${user.phoneNo}">${user.phoneNo}</a><br/>`;
          out += `Other Phone: <a href="tel:${this.shipment.deliverTo.phoneNo}">${this.shipment.deliverTo.phoneNo}</a><br/><br/>`
        }

        let address = this.shipment.address;
        if (address) {
          out += `${address.district.name},<br/>`
          out += `${address.area.name},<br/>`
          out += `<b>${address.name},</b><br/>`
        }
        return out;
      },
      display_payment_details : function () {
        let out = '';
        if (this.shipment.payment && this.shipment.payment.mode) {
          out += `Payment Mode: ${this.shipment.payment.mode.name}<br>`;
          if (this.shipment.payment.status === 'received') {
            out += `<span>Payment Status: <b class="teal-text">${this.shipment.payment.status}</b></span>`;
          } else {
            out += `<span>Payment Status: <b class="red-text">${this.shipment.payment.status}</b></span>`;
          }
        }
        return out;
      },
      display_delivery_agent_details : function () {
        let out = '';
        let deliveryAgent = this.shipment.deliveryAgent;
        if (deliveryAgent) {
          out += `<b>${deliveryAgent.firstName}, ${deliveryAgent.lastName}</b><br/>`;
          out += `${deliveryAgent.phoneNo}`;
        }
        return out;
      },
      display_shipment_status_modal : function () {
        this.$emit('display_shipment_status_modal');
      },
      display_shipment_assign_delivery_modal : function () {
        this.$emit('display_shipment_assign_delivery_modal');
      },
      display_location_modal : function () {
        this.$emit('display_location_modal', this.shipment);
      },
      show_receipt_window : function () {
        this.$emit('display_receipt_modal', this.shipment);
      }
    },
    computed : {
      display_shipment_header : function () {
        let out = '';

        if (this.shipment && this.shipment.order) {
          let date = new Date(this.shipment.createdAt);
          //console.log(date.getMonth());
          out += `Order: ${this.shipment.order.orderNo}  (${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()})`
        }
        return out;
      },
      is_assigned : function () {
        let deliveryAgent = this.shipment.deliveryAgent;
        let deliveryMode = this.shipment.deliverymode;
        //console.log('Delivery mode', this.shipment.deliverymode);
        //console.log('Delivery Agent', this.shipment.deliveryAgent);
        return ((typeof deliveryAgent !== 'undefined') && (deliveryAgent != null)
          && (deliveryMode) && (deliveryMode.id !== 1));
      },
      is_store_sale : function () {
        return this.shipment.sales_type === 'store-sale';
      },
      is_paid : function () {
        let payment = this.shipment.payment;
        return ((typeof payment !== 'undefined') && (payment.status === 'received')) ||
          (this.shipment.status === 'in-transit') || (this.shipment.status === 'processing');
      }
    },
    watch:{
      shipment: function () {

      }
    }
  }
</script>

<style scoped>

</style>
