<template>
  <div class="modal" id="modal-shipment-address">
    <div class="modal-content">
      <div id="map" style="width: 100%; height: 390px"></div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-light waves-effect blue modal-action modal-close">Ok</button>
    </div>
  </div>
</template>

<script>
  //import google from

  export default {
    name : "modal-shipment-location",
    props : [],
    data() {
      return {}
    },
    created(){
      function initMap() {
      };

      let google = document.createElement('script')
      google.setAttribute('async', 'true');
      google.setAttribute('defer', 'true');
      google.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAx-I_yOA585u87fS0CRYaA2VtP12_NRD4&callback=initMap')
      document.head.appendChild(google);
    },
    mounted() {
    },
    methods : {

    }
  }
</script>

<style scoped>

</style>
