<template>
  <div id="shipment-assign-delivery-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5 style="color: #A00000" id="">Assign Order to:</h5>
      <br>
      <div class="collection">
        <a href="#!"
           v-for="delivery_agent in delivery_agents"
           :key="delivery_agent.id"
           :delivery_agent="delivery_agent"
           @click="select_delivery_agent(delivery_agent)"
           class="collection-item">
          {{delivery_agent.firstName +', '+ delivery_agent.lastName}}
        </a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!"
         @click="assign_delivery_agent"
         class="modal-action modal-close waves-effect waves-green btn-flat" id="btnAssignOrder">Assign
      </a>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  export default {
    name : "modal-assign-delivery",
    props : ['shipment'],
    data() {
      return {
        chosen_delivery_agent : {},
      }
    },
    methods : {
      select_delivery_agent : function (delivery_agent) {
        this.chosen_delivery_agent = delivery_agent;
        $('.collection-item').css('background-color', 'white');
        $(event.target).css('background-color', '#a5f8e4');
      },
      assign_delivery_agent : function () {
        let vm = this;

        let data = {
          shipmentId:vm.shipment.id,
          deliveryAgentId: vm.chosen_delivery_agent.id
        };
        vm.$store.dispatch('assignShipmentForDelivery', data);
        /*$.ajax({
          url : "/v1/admin/shipments/" + vm.shipment.id + "/delivery/assign",
          type : 'PUT',
          data : {
            deliveryAgentId : vm.chosen_delivery_agent.user.id
          },
          success : function (shipment) {
            console.log('success');
            Materialize.toast('Success!', 4000);
            vm.$set(vm.shipment, 'deliveryAgent', vm.chosen_delivery_agent.user);
          },
          error : function (xhr, status, error) {
            console.log(xhr.responseText);
            var err = JSON.parse(xhr.responseText);
            Materialize.toast(err.message, 4000)
          }
        })*/

      }
    },
    computed : {
      ...mapState(['delivery_agents'])
    }
  }
</script>

<style scoped>

</style>
