<template>
  <div id="shipment-receipt-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div
        id="receipt-box"
        v-html="show_receipt">
      </div>


    </div>
    <div class="modal-footer">
      <a href="#!"
         v-on:click="copy_receipt"
         class="btn-flat waves-effect waves-light pink-text modal-action">
        Copy
      </a>
    </div>
  </div>
</template>

<script>
  import {GenerateReceipt} from './../../../util/ReceiptUtil';

  export default {
    name : "modal-receipt",
    props : ['shipment'],
    data() {
      return {
        receipt:''
      }
    },
    mounted(){
      $(document).ready(function () {

      });
    },
    methods : {
      copy_receipt: function (obj, event) {


        /*const el = document.createElement('textarea');
        el.html = this.receipt;
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        //document.body.removeChild(el);
        console.log('We copy receipt');*/
      }
    },
    computed : {
      show_receipt : function () {
        this.receipt = '';
        if (this.shipment && this.shipment.id && this.shipment.id > 0) {
          this.receipt = GenerateReceipt({shipment : this.shipment});
        }
        return this.receipt;
      }
    }
  }
</script>

<style scoped>

</style>
