<template>
  <div>


    <!--Table section-->
    <table class="bordered striped card">
      <thead>
      <tr>
        <th>S/N</th>
        <!--<th width="120px">Order No</th>-->
        <th width="120px">Customer</th>
        <th>Amount</th>
        <!--<th>Store/Delivery</th>-->
        <th>Status</th>
        <!--<th>Action</th>-->
      </tr>
      </thead>
      <tbody style="font-size: 13px">
      <tr
        v-for="(shipment, index) in shipmentsPaginated"
        :key="shipment.id"
        v-bind:shipment="shipment"
        style="cursor: pointer">
        <td @click="display_shipment_modal(shipment)">{{(currentPage * per_page) + index + 1}}</td>
        <!--<td>{{shipment.order.orderNo}}</td>-->
        <td @click="display_shipment_modal(shipment)" v-html="displayShipmentUser(shipment)"></td>
        <td @click="display_shipment_modal(shipment)" v-html="displayPaymentDetails(shipment)"></td>
        <!--<td v-html="displayDeliveryDetails(shipment)"></td>-->
        <td @click="display_shipment_modal(shipment)" v-bind:class="computeStatusClass(shipment)">
          {{shipment.status}} <br/>
          {{durationOfOrder(shipment)}} ago
        </td>
        <td>
          <i class="material-icons dropdown-trigger" v-bind:data-target="'dropdown1'+shipment.id">
            more_vert
          </i>
          <more-actions-drop-down
            :id="'dropdown1'+shipment.id"
            :contents="dropDownContent"
            @onItemClicked="onDropDownItemClicked(shipment, $event)"
          />
        </td>
        <!--<span>3 dots</span>-->
        <!--<td>
          <button
            v-on:click="display_shipment_modal(shipment)"
            class="btn waves-effect waves-light pink white-text">Edit
          </button>
        </td>-->
      </tr>
      </tbody>
    </table>
    <!--End Table Section-->


    <!--Pagination section-->
    <div class="row">
      <div class="col s12 m12 l12">
        <ul class="pagination right">
          <li
            @click="goToPreviousPage"
            v-bind:class="{disabled: currentPage == 0}">
            <a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li
            class="waves-effect"
            v-bind:class="{active:currentPage == index}"
            v-for="(scale, index) in pages"
            :key="index" @click="currentPage = index"><a href="#!">{{index + 1}}</a></li>
          <li
            @click="goToNextPage"
            v-bind:class="{disabled: currentPage == numOfPages}">
            <a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>
    <!--End pagination Section-->

  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import ModalShipmentDetails from "./ModalShipmentDetails";
  import ModalShipmentStatus from "./ModalShipmentStatus";
  import ModalAssignDelivery from "./ModalAssignDelivery";
  import ModalShipmentLocation from "./ModalShipmentLocation";
  import moment from 'moment';
  import ModalReceipt from "./ModalReceipt";
  import MoreActionsDropDown from "../../general/MoreActionsDropDown";
  import Toast from "../../../util/Toast";
  import {showNotification} from "../../../util/NotificationUtil";


  export default {
    name : "orders-table",
    components : {
      ModalReceipt,
      ModalShipmentLocation,
      ModalAssignDelivery,
      ModalShipmentStatus,
      ModalShipmentDetails,
      MoreActionsDropDown
    },
    props : ['shipments', 'delivery_agents'],
    data() {
      return {
        pages : [],
        per_page : 5,
        currentPage : 0,
        numOfPages : 0,
        selected_shipment : {
          order : {},
          user : {},
          payment : {}
        },
        filter_type_is_date : true,
        end_date : moment().add(1, 'd').format("MMM DD, YYYY"),
        start_date : moment().format("MMM DD, YYYY"),
        dropDownContent : [
          {
            icon : 'message',
            text : 'Message Customer',
            key : 'message'
          },
        ]
      }
    },
    mounted() {
      let vm = this;
      $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
        $('.dropdown-trigger').dropdown({
          alignment : 'right',
          coverTrigger : false,
          constrainWidth : false,
          hover : true
        });
      })
    },
    methods : {
      displayShipmentUser : function (shipment) {
        let out = '';
        out += shipment.order.orderNo + '<br/><br/>';
        if (typeof shipment.user !== 'undefined') {
          if (typeof shipment.user === 'object') {
            out += '<b>' + shipment.user.firstName + ',' + shipment.user.lastName + '</b><br/>';
            out += '<a href="tel:' + shipment.user.phoneNo + '">' + shipment.user.phoneNo + '</a> | ';
            out += '<a href="tel:' + shipment.deliverTo.phoneNo + '">' + shipment.deliverTo.phoneNo + '</a>';
          } else {
            out += '<b>' + shipment.order.user.firstName + ',' + shipment.order.user.lastName + '</b><br/>';
            out += shipment.order.user.phoneNo + ' | ' + shipment.deliverTo.phoneNo;
          }
        } else {
          out = 'Unknown';
        }
        return out;
      },
      displayPaymentDetails : function (shipment) {
        let out = '';
        if (typeof shipment.payment !== 'undefined') {
          out += '<b>₦' + shipment.payment.amount + '</b><br>';

          if (shipment.payment.status === 'received') {
            out += '<span class="teal-text">' + shipment.payment.status + '</span><br/>';
          } else {
            out += '<span class="orange-text">' + shipment.payment.status + '</span><br/>';
          }

          out += shipment.payment.mode.name;
        } else {
          out = '₦0.00';
        }
        return out;
      },
      displayDeliveryDetails : function (shipment) {
        let out = '';
        out += shipment.deliverymode.name;
        if (shipment.deliverymode.id !== 1) {
          if (shipment.deliveryAgent) {
            out += '<br/>Assigned to:<br/><b>' + shipment.deliveryAgent.firstName +
              ', ' + shipment.deliveryAgent.lastName + '</b>';
          } else {
            out += '<br/><span class="red-text">Not Yet Assigned</span>'
          }
        }
        return out;
      },
      computeStatusClass : function (shipment) {
        return {
          'teal-text' : (shipment.status === 'picked-up' || shipment.status === 'delivered'),
          'red-text' : (shipment.status === 'user-cancelled' || shipment.status === 'admin-cancelled'),
          'blue-text' : (shipment.status === 'payment-received'),
          'orange-text' : (shipment.status === 'processing' || shipment.status === 'in-transit' || shipment.status === 'order-arrived'),
          'purple-text' : (shipment.status === 'created' || shipment.status === 'active'),
        }
      },
      goToPreviousPage : function () {
        if (this.currentPage > 0) {
          this.currentPage--
        }
      },
      goToNextPage : function () {
        if (this.currentPage < this.numOfPages) {
          this.currentPage++
        }
      },
      display_shipment_modal : function (shipment) {
        this.$emit('display_shipment_modal', shipment);
      },
      onDropDownItemClicked : function (shipment, key) {
        if (key === 'message') {
          const customer = shipment.user;
          this.$router.push(`/chats/client/${customer.id}`);
        }
      },
      durationOfOrder: function (shipment) {
        let duration =  moment().diff(moment(shipment.createdAt), 'minutes');
        console.log(duration)
        let m = moment.duration(duration, 'minutes').humanize();
        console.log(m);
        return m;
      }
    },
    computed : {
      ...mapState(['user', 'token']),
      shipmentsPaginated : function () {
        let vm = this;
        //convert shipmentsMap to Array so we can iterate
        let shipmentArray = Object.values(vm.shipments);
        shipmentArray = shipmentArray.reverse();

        vm.numOfPages = Math.ceil(shipmentArray.length / vm.per_page);
        let newArr = [];
        let pages = [];
        let start = 0;
        for (let i = 0; i < vm.numOfPages; i++) {
          newArr[i] = shipmentArray.slice(start, start + vm.per_page);
          start += vm.per_page;
          pages.push(i);
        }
        vm.pages = pages;
        return newArr[vm.currentPage];
      }
    },
    watch : {
      shipments : function () {
      }
    }
  }
</script>

<style scoped>

</style>
