<template>
  <div>


    <div v-if="unresolved_shipments.length > 0">
      <div class="row">
        <div class="col s12 m12 l12">
          <h4 class="pink-text">Unresolved Orders</h4>
        </div>
      </div>
      <!--Unresolved Orders-->
      <div class="row #fce4ec pink lighten-5" v-show="unresolved_shipments.length > 0">
        <div class="col s12 m12 l12">
          <orders-table
            v-bind:delivery_agents="delivery_agents"
            v-bind:shipments="unresolved_shipments"
            @display_shipment_modal="display_shipment_modal"
          ></orders-table>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col s12 m12 l12">
        <h4>All Orders</h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">

        <div class="right">
          <button
            @click="place_new_order"
            class="btn waves-effect waves-light blue white-text">Place New Order
          </button>
        </div>


        <!--Filter section-->
        <div class="col s12 m12 l12 card">
          <br/>
          <div class="input-field col s4 m4 l4">
            <select id="filter-type">
              <option value="" disabled>Choose your option</option>
              <option value="1">Order No</option>
              <option value="2">User Name</option>
              <option value="3">Phone No</option>
              <option value="4">Email</option>
              <option value="5">Area</option>
              <option value="6">Payment Status</option>
              <option value="7">Order Status</option>
              <option value="8">Pickup Type</option>
              <option value="9">Delivery Agent</option>
              <option value="10" selected>Date</option>
            </select>
            <label>Filter Type</label>
          </div>
          <div v-show="filter_type != 10" class="input-field col m8 l8 s8">
            <input type="text" id="text-view-filter-value" v-model="filter_value" />
            <label for="text-view-filter-value">Filter Value</label>
          </div>

          <div v-show="filter_type == 10" class="input-field col s4 m4 l4">
            <input class="datepicker" type="text" id="edit-text-start-date" v-model="start_date"/>
            <label for="edit-text-start-date">Start Date</label>
          </div>

          <div v-show="filter_type == 10" class="input-field col s4 m4 l4">
            <input class="datepicker" type="text" id="edit-text-end-date" v-model="end_date"/>
            <label for="edit-text-end-date">End Date</label>
          </div>
          <!--<div v-show="filter_type == 10" class="col s3 m3 l3" style="line-height: 70px">
            <button class="btn waves-effect waves-light blue white-text">Apply</button>
          </div>-->
        </div>


        <orders-table
          @filter_shipments="filter_shipments"
          v-bind:delivery_agents="delivery_agents"
          v-bind:shipments="filter_shipments"
          @display_shipment_modal="display_shipment_modal"
        ></orders-table>
      </div>
    </div>

    <br/>
    <br/>
    <br/>


    <modal-shipment-details
      @display_shipment_assign_delivery_modal="display_shipment_assign_delivery_modal"
      @display_shipment_status_modal="display_shipment_status_modal"
      @display_location_modal="display_location_modal"
      @display_receipt_modal="display_receipt_modal"
      :shipment="selected_shipment"
    >
    </modal-shipment-details>


    <modal-shipment-status
      :shipment="selected_shipment"
    >
    </modal-shipment-status>


    <modal-assign-delivery
      :shipment="selected_shipment"
      :delivery_agents="delivery_agents"
    >
    </modal-assign-delivery>

    <modal-shipment-location
      :shipment="selected_shipment"
    >
    </modal-shipment-location>

    <modal-receipt
      :shipment="selected_shipment"
    >
    </modal-receipt>


  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import OrdersTable from './OrdersTable';
  import {filter} from 'lodash';
  import moment from 'moment';
  import ModalShipmentDetails from "./ModalShipmentDetails";
  import ModalShipmentStatus from "./ModalShipmentStatus";
  import ModalAssignDelivery from "./ModalAssignDelivery";
  import ModalShipmentLocation from "./ModalShipmentLocation";
  import ModalReceipt from "./ModalReceipt";
  import Toast from "../../../util/Toast";

  export default {
    name : "orders",
    components : {
      OrdersTable,
      ModalReceipt,
      ModalShipmentLocation,
      ModalAssignDelivery,
      ModalShipmentStatus,
      ModalShipmentDetails
    },
    data() {
      return {
        end_date : moment().add(1, 'd').format("MMM DD, YYYY"),
        start_date : moment().format("MMM DD, YYYY"),
        selected_shipment : {
          order : {},
          user : {},
          payment : {}
        },
        filter_type : 10,
        filter_value: ''
      }
    },
    beforeMount() {
      //this.filter_shipments({});
    },
    mounted() {
      let vm = this;
      $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();

        $('.datepicker').datepicker({
          selectMonths : true, // Creates a dropdown to control month
          selectYears : 5, // Creates a dropdown of 15 years to control year,
          today : 'Today',
          clear : 'Clear',
          close : 'Ok',
          closeOnSelect : true, // Close upon selecting a date,
        });

        $('#edit-text-end-date').on('change', '', function () {
          vm.end_date = $(this).val();
        });

        $('#edit-text-start-date').on('change', '', function () {
          vm.start_date = $(this).val();
        });

        $('#filter-type').on('change', '', function () {
          vm.filter_type = this.value;
        });

        M.updateTextFields();
      })
    },
    computed : {
      ...mapState(['user', 'token', 'shipments', 'delivery_agents']),
      unresolved_shipments : function () {
        let unresolved = filter(this.shipments, shipment => {
          return (shipment.status === 'created' || shipment.status === 'active');
        });
        return unresolved;
      },
      filter_shipments : function () {
        let vm = this;

        let filter_type = vm.filter_type;
        let filter_value = vm.filter_value;

        if (vm.selected_shipment && vm.selected_shipment.id && vm.selected_shipment.id > 0){
          if (vm.shipments && Object.keys(vm.shipments).length > 0) {
            vm.selected_shipment = vm.shipments[vm.selected_shipment.id];
          }
        }

        if (typeof filter_type === 'undefined' || filter_type == 0 || filter_type == null) {
          return vm.shipments;
          //console.log(vm.filtered_shipments);
        }
        else if (filter_type == 1) {
          return filter(vm.shipments, function (shipment) {
            return shipment.order.orderNo.indexOf(filter_value) !== -1;
          });
        } else if (filter_type == 2) {
          return  filter(vm.shipments, function (shipment) {
            return (shipment.user.firstName.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1 ||
              shipment.user.lastName.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1);
          });
        } else if (filter_type == 3) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.user.phoneNo.indexOf(filter_value) !== -1;
          });
        } else if (filter_type == 4) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.user.email.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1;
          });
        } else if (filter_type == 5) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.address.area.name.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1;
          });
        } else if (filter_type == 6) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.payment.status.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1;
          });
        } else if (filter_type == 7) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.status.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1;
          });
        } else if (filter_type == 8) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.deliverymode.name.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1;
          });
        } else if (filter_type == 9) {
          return  filter(vm.shipments, function (shipment) {
            return shipment.deliveryAgent && shipment.deliveryAgent.firstName.toLowerCase().indexOf(filter_value.toLowerCase()) !== -1;
          });
        } else if (filter_type == 10) {
          return  filter(vm.shipments, function (shipment) {
            let start_date = new Date(vm.start_date);
            let end_date = new Date(vm.end_date);

            let shipment_date = new Date(shipment.updatedAt);
            return (start_date <= shipment_date) && (end_date >= shipment_date);
          });
        }
        //return vm.filtered_shipments;
        //console.log(options);
      },
    },
    methods : {
      place_new_order : function () {
        this.$router.push('/new-purchase');
      },
      display_shipment_modal : function (shipment) {
        this.selected_shipment = shipment;
        $('#shipment-details-modal').modal('open');
      },
      display_shipment_status_modal : function () {
        $('#shipment-status-modal').modal('open');
      },
      display_shipment_assign_delivery_modal : function () {
        $('#shipment-assign-delivery-modal').modal('open');
      },
      display_location_modal : function (shipment) {
        let deliveryAddress = shipment.address;
        let deliveryLatLng = {
          lat : Number(deliveryAddress.latitude),
          lng : Number(deliveryAddress.longitude)
        };
        //console.log(deliveryLatLng);


        let shipmentCurrentPosition = {
          lat : Number(shipment.latitude),
          lng : Number(shipment.longitude)
        };

        if (typeof google == 'undefined' || !google) {
          Toast.ERROR('Google Map has not loaded. Please refresh this page', 7000, 'rounded');
          return;
        }

        let map = new google.maps.Map(document.getElementById('map'), {
          zoom : 13,
          center : deliveryLatLng
        });

        let marker1 = new google.maps.Marker({
          position : deliveryLatLng,
          map : map,
          title : 'Customer\'s Address',
          icon : 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });

        let marker2 = new google.maps.Marker({
          position : shipmentCurrentPosition,
          map : map,
          title : 'Location of the Shipment',
          icon : 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
        });

        $('#modal-shipment-address').modal('open');
      },
      display_receipt_modal : function (shipment) {
        $('#shipment-receipt-modal').modal('open');
      },
    },
    watch:{
      shipments: function () {
      }
    }
  }
</script>

<style scoped>

</style>
