<template>
  <div>
    <AppBar2 v-if="user"/>
    <main>
      <router-view/>
    </main>

  </div>

</template>

<script>
  import AppBar2 from './../appbar/AppBar2';
  import {mapState} from 'vuex';
  import {each, debounce, filter} from 'lodash';
  import OrdersHandler from './../../util/OrdersHandler';
  import Toast from './../../util/Toast';
  import {connect} from "../../util/SocketUtil";
  import {initiateFirebase} from "../../util/FCMUtil";
  //import JobsUtil from './../../util/JobsUtil';

  export default {
    name : "main-container",
    components : {AppBar2},
    beforeMount() {
      if (!this.user) {
        this.$router.push('/login');
        return false;
      }
      let vm = this;
      //get Shipments
      vm.$store.dispatch('getShipments', {});

      //Get Delivery Agents
      vm.$store.dispatch('getDeliveryAgents', {});

      //Get Measurements
      vm.$store.dispatch('getMeasurements', {});
    },
    mounted() {
      let vm = this;
      if (!this.user) {
        this.$router.push('/login');
        return;
      }

      if (this.token) {
        connect(this.token, this);
      }

      //We poll for new shipments every minute
      setInterval(function () {
        vm.$store.dispatch('getShipments', {});

        //We get created and active shipments
        let unresolved = filter(vm.shipments, shipment => {
          return shipment.status === 'created' || shipment.status === 'active'
        });
        if (unresolved && unresolved.length > 0) {
          vm.playSound();
        }
      }, 10 * 60 * 1000);

      //we poll for measurements every 10 minutes
      setInterval(function () {
        vm.$store.dispatch('getMeasurements', {});
      }, 60 * 1000 * 30);

      setInterval(function () {
        let t = 0;
        each(vm.unsent_shipments, (shipment, index) => {
          console.log('Retry attempt to post unsent shipments: ', t);
          setTimeout(function () {
            OrdersHandler.createShipment(shipment, function (error, response) {
              if (error) {
                console.log(error);
                console.log(error.response);
                let err = {message : "Error occurred"};
                try {
                  err = JSON.parse(error.responseText);
                } catch (e) {
                }
                Toast.Show(err.message, 4000);
                return;
              }
              console.log('Retry attempt were successful');
              Toast.SUCCESS('Order was placed successfully', 4000, 'rounded');
              vm.$store.dispatch('popShipmentFromCache', index);
              vm.$store.dispatch('createShipment', response);
            });
          }, t);
          t += 5000; //spacing in-between single shipment posting
        });
      }, 3 * 60 * 1000); //interval to check for un-sent shipemnts

      initiateFirebase(this.processFCMId);
    },
    methods : {
      playSound : function () {
        let audio = new Audio('../static/sounds/martian-gun.mp3');
        audio.play()
          .then(() => {
            return null;
          });
      },
      processFCMId : function (error, fcmToken) {
        if (error) {
          return;
        }
        //if user is logged in, update his token on the backend
        if (fcmToken && fcmToken !== '') {
          if (this.user) {
            this.$store.dispatch('updateFCMId', {fcmId : fcmToken})
          } else {
            //save token to store.
            this.$store.commit('UPDATE_USER_FCMID', {fcmId : fcmToken})
          }
        }
      }
    },
    computed : {
      ...mapState(['user', 'token', 'unsent_shipments', 'shipments'])
    },
    updated() {
      if (!this.user) {
        this.$router.push('/login');
      }
    }
  }
</script>

<style scoped>

</style>
