<template>
  <ul v-bind:id='id' class='dropdown-content'>
    <li
      v-for="(content, i) in contents"
      :key="i"
      :content="content"
    >
      <a href="#!"  @click="onItemClick(content.key, $event)">
        <i class="material-icons">{{content.icon}}</i>
        {{content.text}}
      </a>
    </li>
  </ul>
</template>

<script>
  export default {
    name : "more-actions-drop-down",
    props : ['id', 'contents'],
    methods:{
      onItemClick: function (key, event) {
        event.preventDefault();
        this.$emit('onItemClicked', key);
      }
    }
  }
</script>

<style scoped>

</style>
