<template>
    <div class="modal modal-fixed-footer" id="modal-newpurchase-options">
      <div class="modal-content">
        <h4 class="pink-text">Advanced Options</h4>
        <hr/>
        <br/>

        <div class="row">
          <div class="col input-field s12 m12 l12">
            <input type="text" placeholder="Customer" id="customer"/>
            <label for="customer">Customer</label>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l12">
            <ul class="collection">
              <li class="collection-item avatar">
                <img src="../../../assets/logo.png" alt="" class="circle">
                <span class="title bold">Akinola Olayinka</span>
                <p>liljoeengr@yahoo.com <br>0902788388</p>
                <a href="#!" class="secondary-content">
                  <i class="material-icons red-text">cancel</i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <h5 class="pink-text">Address</h5>
        <hr>
        <br/>

        <div class="row">
          <div class="col s4 m4 l4">
            <select>
              <option>State? </option>
              <option>Oyo State</option>
              <option>Lagos State</option>
            </select>
          </div>

          <div class="col s4 m4 l4">
            <select>
              <option>City? </option>
              <option>Ibadan</option>
              <option>Ogbomosho</option>
            </select>
          </div>


          <div class="col s4 m4 l4">
            <select>
              <option>District? </option>
              <option>Akobo</option>
              <option>Bashorun</option>
            </select>
          </div>
        </div>




      </div>




      <div class="modal-footer">

      </div>
    </div>
</template>

<script>
  export default {
    name : "modal-purchase-options",
    mounted(){
      $(document).ready(function () {
        $('select').formSelect();
      });
    }
  }
</script>

<style scoped>

</style>
