<template>
  <div>

    <!--Total Panel-->
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="right #e3f2fd blue lighten-5">
          <h3 class="pink-text" id="textViewCost">{{getTotal}}</h3>
        </div>
      </div>
    </div>


      <suborder-row-item
        v-bind:suborders="suborders"
      ></suborder-row-item>




    <div class="row">
      <div class="col s12 l12 m12">
        <button
          v-on:click="showOptionsDialog"
          class="btn waves-effect waves-light #2196f3 blue"
          type="submit"
          style="margin: 2px"
          v-bind:disabled="!isButtonActive"
          name="action">
          Options
          <i class="material-icons right">settings</i>
        </button>

        <button
          v-on:click="placeOrder"
          class="btn waves-effect right waves-light #2196f3 blue"
          type="submit"
          style="margin: 2px"
          v-bind:disabled="!isButtonActive"
          name="action">
          Buy
          <i class="material-icons right">send</i>
        </button>

        <button
          v-on:click="addNewSuborder"
          class="btn waves-effect right waves-light #e91e63 pink"
          style="margin: 2px"
          v-bind:disabled="!isButtonActive"
          id="btn-add-new-suborder">Add
          New Item
          <i class="material-icons right">add</i>
        </button>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <modal-purchase-options>

    </modal-purchase-options>


  </div>
</template>

<script>

  import {mapState} from 'vuex';
  import SuborderRowItem from "./SuborderRowItem";
  import OrdersHandler  from './../../../util/OrdersHandler';
  import Toast  from './../../../util/Toast';
  import FormatterUtil  from './../../../util/FormatterUtil';
  import ModalPurchaseOptions from "./ModalPurchaseOptions";

  class Suborder {

    constructor() {
      //this.id = id;
      this.productvariant = {};
      this.quantity = 0;
      this.measurement = {};
      this.price = 0;
    }
  }


  export default {
    components : {
      ModalPurchaseOptions,
      SuborderRowItem},
    name : "new-purchase",
    data() {
      return {
        searchRepository : {},
        isCalled : false,
        productVariants : [],
        suborders:[],
        isButtonActive:true,
      }
    },
    mounted(){
      $(document).ready(function () {
        $('.modal').modal();
      });
    },
    methods:{
      placeOrder : function () {
        let vue = this;
        //this.$store.dispatch('createShipment', {});

        let total = 0;
        this.suborders.forEach(function (suborder) {
          total += suborder.price;
        });

        if (total > 0) {
          this.isButtonActive = false;
          vue.formatRequest();
        }
      },
      addNewSuborder : function () {
        let suborder = new Suborder();
        this.suborders.push(suborder);
        setTimeout(function(){$('select').formSelect();}, 50);
      },
      formatRequest : function () {
        let data = {
          address : this.user.address,
          deliverTo : {
            email : this.user.email,
            firstName : this.user.firstName,
            lastName : this.user.lastName,
            phoneNo : this.user.phoneNo
          },
          shop : {
            id : 1
          },
          deliverymode : {
            id : 1 //store pickup
          },
          payment : {
            amount : 0,
            deliveryCharge : 0,
            status : 'received',
            orderCharge : 0,
            mode : {
              id : 1,
            }
          },
          deliverycharge : 0,
          order : {
            suborders : [],
            status : 'picked-up',
          },
          sales_type : 'store-sale',
          status : 'picked-up',
          latitude : this.user.address.latitude,
          longitude : this.user.address.longitude
        };

        let orderCharge = 0;
        this.suborders.forEach(function (suborder) {
          orderCharge += suborder.price;
          let s = {
            productVariantId : suborder.productvariant.id,
            quantity : suborder.quantity,
            measurementId : suborder.measurement.id,
            price : suborder.price
          };
          data.order.suborders.push(s);
        });

        data.payment.amount = orderCharge;
        data.payment.orderCharge = orderCharge;

        //Remove id field from address
        delete data.address.id;

        console.log(data);
        this.createShipment(data);
      },
      createShipment : function (data) {
        let vm = this;
        OrdersHandler.createShipment(data, function (error, response) {
          if (error) {
            console.log(error);
            //let err = JSON.parse(error.responseText);
            Toast.ERROR("The order could not be placed due to network issue. " +
              "It has been saved", 7000);
            vm.saveShipmentToCache(data);

            //clear the view
            vm.suborders = [];

            //reactivate the buttons
            vm.isButtonActive = true;
            return;
          }
          Toast.SUCCESS('Order was placed successfully', 4000, 'rounded');

          //clear the view
          vm.suborders = [];

          //reactivate the buttons
          vm.isButtonActive = true;

          vm.$store.dispatch('createShipment', response);
        });

        //this.$store.dispatch('createShipment', data);
      },
      saveShipmentToCache : function (data) {
        this.$store.dispatch('saveShipmentToCache', data);
      },
      showOptionsDialog: function () {
        $('#modal-newpurchase-options').modal('open');
      }
    },
    computed:{
      ...mapState(['user']),
      getTotal : function () {
        let total = 0;
        this.suborders.forEach(function (suborder) {
          total += suborder.price;
        });

        return "Total: " + FormatterUtil.formatAsCurrency(total);
      }
    }
  }
</script>

<style scoped>
  #textViewCost{
    padding: 0 1rem 0 1rem;
  }
</style>
