<template>
  <div class="row suborder-item-row">
    <div class="col s12 l12 m12 card" style="padding: 0">
      <table class="striped bordered">
        <thead>
        <tr>
          <th>id</th>
          <th>Product variant</th>
          <th width="200px">Scale</th>
          <th width="150px">Quantity</th>
          <th width="100px">Cost</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr
          @deleteSuborder="deleteSuborder"
          v-for="(suborder,index) in suborders"
          v-bind:index="index"
          v-bind:suborder="suborder"
          v-bind:key="index">
          <td>{{index + 1}}</td>
          <td>
            <div class="input-field col s12">
              <input
                v-bind:id="generate_id(index)"
                v-bind:data-index="index"
                v-on:input="getProductVariants(suborder, $event)"
                style="font-size: 12px"
                type="text"
                v-bind:value="suborder.productvariant.name"
                class="autocomplete"/>
              <label v-bind:for="generate_id(index)">Please type Product Variant</label>
            </div>
          </td>
          <td>
            <div class="input-field col s12">
              <select
                v-bind:suborder="suborder"
                v-bind:data-index="index"
                class="select-scale"
                name="measurement">
              </select>
              <label>Scale</label>
            </div>
          </td>
          <td>
            <div class="input-field col s12">
              <input
                v-on:input="setQuantity(suborder, $event)"
                type="number"
                class="validate"
                v-bind:value="suborder.quantity"
                v-bind:id="`${index}-quantity`">
              <label v-bind:for="`${index}-quantity`">Quantity</label>
            </div>
          </td>
          <td><b class="green-text">₦{{suborder.price}}</b></td>
          <td><i class="material-icons red-text" v-on:click="deleteSuborder(index)">cancel</i></td>
        </tr>


        <!--<suborders-list-component
          @deleteSuborder="deleteSuborder"
          v-for="(suborder,index) in suborders"
          v-bind:index="index"
          v-bind:suborder="suborder" v-bind:key="index">
        </suborders-list-component>-->
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {filter, map, uniqBy} from 'lodash';
  import ProductsHandler from "../../../util/ProductsHandler";

  export default {
    name : "suborder-row-item",
    props : ['suborders'],
    data() {
      return {
        isCalled : false,
      }
    },
    mounted() {
      let vm = this;
      //$(".autocomplete").off();
      let elems = document.querySelectorAll('.autocomplete');
      let instances = M.Autocomplete.init(elems, {
        limit : 5,
        data : {
          "Apple" : null,
          "Microsoft" : null,
          "Google" : 'https://placehold.it/250x250'
        },
      });

      $("select").formSelect();
      M.updateTextFields();
    },
    methods : {
      deleteSuborder : function (index) {
        this.suborders.splice(index, 1);
      },
      generate_id : function (index) {
        return 'product-variant-' + index;
      },
      getProductVariants : function (suborder, events) {
        let element = events.target;
        let vue = this;
        vue.isCalled = false;

        let s = $(element).val();

        if (s.length < 2) {
          return
        }

        let measurementPvs = filter(this.measurements, measurement => {
          let pv = measurement.productvariant;
          return (pv.name.toLowerCase().indexOf(s.toLowerCase()) >= 0) ||
            (pv.tags.toLowerCase().indexOf(s.toLowerCase()) >= 0);
        });

        let pvs = map(measurementPvs, 'productvariant');
        pvs = uniqBy(pvs, 'id');

        vue.productVariants = pvs;
        vue.ShowAutoCompleteDropDown(suborder, element);

        /*ProductsHandler.searchProductVariants({query : s}, (error, response) => {
          if (error) {
            console.log(error);
            return;
          }

          vue.productVariants = response;
          vue.ShowAutoCompleteDropDown(suborder, element);
        });*/
      },
      ShowAutoCompleteDropDown(suborder, element) {
        let vm = this;
        vm.searchRepository = {};

        if (vm.productVariants.length > 0) {
          vm.productVariants.forEach(function (productVariant) {
            vm.searchRepository[productVariant.name] = null;
          });

          let instance = M.Autocomplete.getInstance(element);
          instance.updateData(vm.searchRepository);
          instance.open();
          instance.options.onAutocomplete = function (val) {

            let newArray = vm.productVariants.filter(function (el) {
              return el.name === val;
            });

            suborder.productvariant = newArray[0];
            let ind = $(element).attr('data-index');
            vm.ShowScales(suborder, ind);
          };
        } else {
          vm.searchRepository = {};
          let instance = M.Autocomplete.getInstance(element);
          instance.close();
        }
      },
      ShowScales : function (suborder, index) {
        let vm = this;

        let measurements = filter(this.measurements, measurement => {
          let pv = measurement.productvariant;
          return (pv.id === suborder.productvariant.id);
        });
        //let measurements = suborder.productvariant.measurements;

        let element = $(".select-scale[data-index=" + index + "]");
        element.off();
        element.html('');

        let $option = $("<option>", {"value" : 0, "data-scale-id" : 0, disabled : true, selected : true});
        $option.text("Please select a scale");
        element.append($option);

        measurements.forEach(function (measurement) {
          let $option = $("<option>", {"value" : measurement.id, "data-scale-id" : measurement.id});
          $option.text(measurement.scale.name);

          element.append($option);
        });

        element.formSelect();
        /*setTimeout(function () {
          element.formSelect('dropdown');
        }, 1000);*/


        element.on('change', function () {
          let index = $(this).attr('data-index');

          //let optionSelected = $("option:selected", this);
          let valueSelected = this.value;

          let newArray = measurements.filter(function (el) {
            return el.id == valueSelected;
          });

          suborder.measurement = newArray[0];


          vm.EvaluateSuborderCost(suborder);
        })
      },
      EvaluateSuborderCost : function (suborder) {
        let vm = this;
        let per_unit_cost = suborder.measurement.per_unit_cost || 0;
        let quantity = suborder.quantity || 0;

        suborder.price = quantity * per_unit_cost;
      },
      setQuantity : function (suborder, events) {
        let element = events.target;
        let vue = this;

        let val = Number($(element).val());
        suborder.quantity = Number(val);

        vue.EvaluateSuborderCost(suborder);
      },
    },
    computed : {
      ...mapState(['measurements'])
    },
    updated() {
      let elems = document.querySelectorAll('.autocomplete');
      let instances = M.Autocomplete.init(elems, {
        limit : 5,
        data : {
          "Apple" : null,
          "Microsoft" : null,
          "Google" : 'https://placehold.it/250x250'
        }
      });
    }
  }
</script>

<style scoped>
  .suborder-item-row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>
