.aslide {
  display: none;
  background: #ffffff;
}

.aslide img {
  max-width: 100%;
  width: 100%;
}

#slider {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 6px solid #ffffff;
  box-shadow: 0 3px 10px #777;
}

.aslide .text {
  color: #f8f8f8;
  text-shadow: 0 0 2px #000;
  font-weight: bold;
  font-size: 36px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  font-family: sans-serif;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.datepicker-date-display {
  background-color: #2196f3 !important;
}

.datepicker-table td.is-today {
  color: #e91e63 !important;
}

.datepicker-cancel {
  color: #e91e63 !important;
}

.datepicker-done {
  color: #e91e63 !important;
}

.datepicker-table td.is-selected {
  background-color: #e91e63 !important;
  color: white !important;
}

.bold{
  font-weight: bold;
}

/*This forces the footer to stay at the bottom of the page even if the content is very small*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f8f8f8;
}

main {
  flex: 1 0 auto;
  padding-top: 3rem;
}

/*End Footer customization*/
