<template>
  <div class="authentication-wrapper">
    <div id="auth-background"></div>
    <div id="login-form-container" class="container  center-align" style="position: relative">

      <div class="row center-align">
        <div class="col s12 l6 m6 offset-m3 offset-l3 z-depth-1  center-align"
             style="height: 350px;  background-color: #FFF">
          <br/>
          <h5 class="blue-text">FoodHub Orders: Login</h5>
          <div class="divider"></div>
          <br/>
          <form id="loginForm" class="col s12">
            <div class="input-field col s12">
              <input id="email" name="email" v-model="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <br/>
            <div class="input-field col s12">
              <input id="password" name="password" v-model="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
            <br/>
            <br/>
            <br/>

            <div class="row" style="margin-right: 10px">
              <button id="button-login"
                      class="btn waves-effect waves-light right #ad1457 pink darken-3"
                      style="margin-top: 30px"
                      type="submit"
                      name="action"
                      v-on:click.prevent="login"
              >
                Login
              </button>

              <!--Spinner Layer-->
              <div id="spinner" class="preloader-wrapper small active right hide"
                   style="margin-top: 30px; margin-right: 20px">
                <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>

                <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </form>


        </div>
        <br/>
      </div>
    </div>
  </div>
</template>

<script>
  import adminAuth from './../../util/authHandler';
  import {mapState} from 'vuex'

  export default {
    name : "login",
    data() {
      return {
        password : '',
        email : ''
      }
    },
    methods : {
      login : function () {
        let vm = this;
        let data = {
          email : vm.email,
          password : vm.password
        };
        vm.$store.dispatch('login', data);
      }
    },
    computed : {
      ...mapState(['user','token'])
    },
    updated(){
    }
  }
</script>

<style scoped>
  .authentication-wrapper {
    background: url('/static/img/order_sidenav_header.4700d51.jpg') no-repeat center center fixed;
    background-color: #000;
    height: 100vh;
    padding-top: 12rem;
  }

  #login-form-container {
  }

  #auth-background{
    position: fixed;
    top: 0;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
    background-color: black;
  }

</style>
